@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap"rel="stylesheet");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: viga;
    overflow-x: hidden;
}

.nav {
    background-color: rgb(240, 212, 193);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed; 
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(249, 176, 58, 0.2);
}

.logo {
    color: whitesmoke;
    font-size: 30px;
    text-align: left;
    font-family: 'Alex Brush', cursive;
}

.logo span {
    color: rgb(247, 178, 29);
    
}

.nav ul {
    list-style-type: none;
    display: flex; 
}

.nav ul li {
    padding: 10px 30px;
    position: relative;
}


.nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color:  rgb(248, 246, 244);
    transition: all 0.3s;
}

.active, .nav ul li:hover {
    background: rgb(239, 179, 107);
    border-radius: 5px;
}


.nav ul li a:hover {
    color: rgb(248, 246, 244);
}

/* dropdown menu style */
.dropdown-nav {
    display: none;
}

.nav ul li:hover .dropdown-nav {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    
}

.nav ul li:hover .dropdown-nav ul {
    display: block;
    margin: 10px;
}

/* Humberger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: whitesmoke;
    border-radius: 3px;
}

.jumbotron {
    padding: 0;
    margin-bottom: -10px;
}
.jumbotron img {
    width: 100%;
    height: 480px;
    
}

header {
    display: inline;
}

/* Bagian About */
.about {
    text-align: center;
    font-size: 40px;
    color: rgb(243, 182, 108);
}
.container {
    width: 980px;
    height: 480px;
    margin: 80px auto;
    background-color: rgb(244, 237, 231);
    padding: 60px;
    margin-bottom: -30px;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
}

.featured-image {
    width: 350px;
    max-height: 380px;
    object-position: right;
    border-radius: 5px;   
}

.right-colum {
    flex-grow: 1;
    padding: 20px;
    margin: 5px;
    width: 430px;
    height: 450px;
    border-radius: 10px;
}

.right-colum h2  {
  text-align: center;  
  color: rgb(151, 120, 84);
  padding: 10px;
}

.right-colum p {
    color: rgb(151, 120, 84);
}

/* Bagian Service/produk */

#services h2 {
    text-align: center;
    color: rgb(239, 179, 107);
    font-size: 40px;
}

#services p {
    text-align: center;
    color: rgb(200, 166, 124);
    font-size: 20px;
}

.tumbnail {
    width: 25%;
    flex-grow: 1;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(1 ,1 ,1 , 0.1);
    transform: 0.3s;
}

.tumbnail:hover {
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(1 ,1 ,1 , 0.2);
    cursor: pointer;
}

.tumbnail img {
    width: 100%;
    border-radius: 5px;
}

.price h3 {
    text-align: center;
    color: rgb(200, 166, 124);
}

/* Bagian Testimonial */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.flex-column h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(200, 166, 124);
    margin-top: 10px;
}

.column {
    flex-grow: 1;
    padding: 40px;
    margin: 10px;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(200, 166, 124);
}
/* Bagian Contact */
#contact {
    margin: 0;
    background-position: center;
    background-size: cover;
    background-image: url('../image/background.jpeg');
    position: relative;
    width: 100%;
    height: 350px;  
    text-align: center;
    margin-top: -10px;
}

.box {
    width: 40%;
    height: 290px;
    top: 10%;
    left: 30%;
    position: absolute;
    background-color: rgba(249, 176, 58, 0.4);
    border-radius: 5px;
    margin: 0 auto;   
}


.teks {
    display: relative;
    text-align: center;
    color: whitesmoke;
    padding: 40px;
    margin: 20px;
    
}


/* Bagian Biodata */
.profile {
    background-color: white;
    width: 100%;
    height: 550px;
    margin-top: 10px;
    padding: 20px;
}

.container-profile {
    width: 40%;
    height: 500px;
    background-color: rgb(248, 224, 198);
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    color: rgb(250, 181, 111);
    text-align: center; 
    border-style: ; 
}

.container-profile img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border-style: double;
    
}
.container-profile .info {
    font-size: 15px;
    color: rgb(250, 181, 111);
    margin-left: 20px;  
    text-align: left; 
    text-decoration: none;  
}

.container-profile .info img {
    width: 30px; 
    height: 30px;
}

.info .web {
    text-decoration: none;
    color: rgb(250, 181, 111);
}

.info .fb {
    text-decoration: none;
    color: rgb(250, 181, 111);
}

footer {
    background-color: rgb(240, 212, 193);
    padding: 15px;
    text-align: center;
    color: whitesmoke;
    margin-top: -5px;
}

footer .media {
    text-decoration: none;
    color: whitesmoke;
}

/* Responsive Breakpoint */
/* ukuran tablet */
@media screen and (max-width: 768px) {
    .nav ul {
        width: 50%;
    }


    footer {
        background-color: rgb(240, 212, 193);
        padding: 15px;
        text-align: center;
        color: whitesmoke;
        margin-top: -5px;
    }
    
    footer .media {
        text-decoration: none;
        color: whitesmoke;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    .nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(240, 212, 193);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }
 
    .nav ul.slide {
        opacity: 0;
        transform: translateX(0);
    }

    .jumbotron {
        flex-wrap: wrap;
    }

    .jumbotron div {
        width: 100%;
    }

    .jumbotron img {
        width: 100%;
    }

    .container {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        
    }
    

    .left-colum {
        width: 100%;
        padding: 5px;
    }

    .featured-image{
        width: 100%;  
    }
    

    .right-colum {
        width: 100%;  
    }
 
    .right-colum h2 {
        font-size: 36px;  
    }

    .right-colum p {
        font-size: 16px;  
    }
  
    #service h2 {
        width: 100%;
        font-size : 36px;
    }

    #service p {
        width: 100%;
        font-size: 16px;
    }

    .tumbnail {
        width: 100%;
        height: auto;
    }

    .tumbnail h3 {
        font-size: 16px;
        text-align: center;
    }

    .flex-row {
        flex-wrap: wrap;
        height: 100%;

    }

    .column {
        width: 100%;
    }

    #contact {
        flex-wrap: wrap;
        width: 100%;
    }
    
    #contact .box {
        width: 50%;
    }

    .teks {
        padding: 10px;    
    }

    .teks h4 {
        padding: 5px;

    }

    .profile {
        flex-wrap: wrap;
        width: 100%;
    }

    .container-profile {
        width: 100%;
    }   
}





  
